* {
  
}
h1, h2, h3 {
  margin: 0;
}

body {
  background-color: #ece6d9;
  padding: 0;
  margin: 0;
}

.html-area {
  padding: 1rem;
}

li {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem 1rem;
  border: 1px solid #ccc;
}
li.fav {
  background-color: pink;
}

// .book-item {
//   list-style-type: none;
//   background-color: #fff;
//   margin: 2rem auto;
//   padding: 1rem;
//   border-radius: 1rem;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   .fav {
//     background: #ff9ed2;
//   }
// }