<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.scss">
  <title>Vue3 learning</title>
  <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
  <div class="html-area">
    <h1>Hello (..</h1>
    <div id="app">
      <div v-if="showBox">
        <ul class="book-area">
          <li v-for="book in books" :class="{ fav: book.isFav }">
            <img :src="book.img" :alt="book.title">
            <p>{{ book.title }}</p>
            <p>{{ book.author }}</p>
            <button @click="toggleClass(book)">お気に入り</button>
          </li>
        </ul>
      </div>
      <button @click="ToggleShowBox">
        <span v-if="showBox">非表示</span>
        <span v-else>表示</span>
      </button>
      <p v-show="showBox">showBoxがfalseになったら消える</p>
      <p v-if="showBox">v-ifでの分も消える</p>
      <p v-else>お疲れ様でした</p>
      <br>
    </div>
    <script src="app.js"></script>
  </div>
</body>
</html>